@charset "utf-8";
/* CSS Document */

#global_container{ margin:0 auto; padding:0;}
#headerid{ width:900px; height:178px; margin:0 auto; padding:0px inherit; padding-bottom:0px; margin-bottom:0px}

.logo{ margin:0 auto; padding:0; float:left; margin-top:30px; width:552px;}

/*menu*/
.mymenu{ margin:0 auto; padding:0px; clear:both;}
.menubg{ background:#6c000a; height:50px; margin-top:0}

/*login*/
.log{ width:270px; height:290px; background:url(../image/login.jpg); margin-top:0px; margin-left:150px;}
.msgdiv{ height:20px; margin-top:60px; margin-left:170px; color:#F00;}
.logtitle{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px; color:#FFF; float:left; margin-top:40px; margin-left:65px; margin-bottom:30px;}
.logtext{ clear:both; height:50px;  width: auto; margin-left:35px; margin-top:15px;font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}

 .ip1{float:left;
  background: #fff;
  border: 1px solid #c6c7cc; border-radius:5px;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color:#000000; font-size:15px;
  margin-top:5px; margin-bottom:5px;
  width:210px; height:23px;}

.ip1:focus{box-shadow: 0px 0px 0px 1px #4c8ed8; inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );}

.logbutton{  clear:both; height:30px;  width: auto; margin-left:175px; margin-top:15px;}

.button1{ background:#0d5289; border-radius:5px;
  background: linear-gradient(#335fbe,#0d5289); height:30px; width:70px;
  border: 0;
  color: #fff;
  cursor: pointer; font-family: Arial, Helvetica, sans-serif; margin-top:0px;
   font-size:14px;
  float: left;
  padding: 0;}
.forgot a{text-decoration:none; margin-left:35px; color:#0d5289;font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:700}
.forgot a:hover{ text-decoration:underline;}
.reg{margin-top:25px;margin-left:170px; height:40px;}
.reg a{ text-decoration:none; color: #603;font-family: Arial, Helvetica, sans-serif; font-size:16px; font-weight:700}
.reg a:hover{ color:#0d5289;}
/*content*/

.content{ margin:0 auto; padding:0; width:900px;clear:both; height:auto}
.content1{ margin:0 auto; padding:0; width:380px; height:455px; float:left;}
.content2{ margin:0 auto; padding:0; width:520px; height:455px; float:left;}

.cont{ margin-top:0px; margin-left:20px; width:440px; float:left; font:Arial, Helvetica, sans-serif bolder;}
.pmstext{ margin-left:20px; margin-top:125px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:35px; color:#13588f; float:left}
.pmstext2{ width:440px; height:50px; font-family: Arial, Helvetica, sans-serif; font-weight:600; font-size:24px; color: #0099FF; float:left; padding-top:20px; }
.footer{height:60px; margin:0 auto; padding:0; clear:both; margin-bottom:0; margin-top:35px}

.ftr1{ background:url(../image/footer.jpg) repeat-x;  height:22 px; margin:0 auto; padding:0 inherit; clear:both ; margin-bottom:0; }
.ftr2{  height:32 px; width:900px; margin:0 auto; padding:0 inherit; clear:both ;  margin-bottom:0;}

.ftr2a{ font:Arial, Helvetica, sans-serif smaller ; color:#13588f; float:left; margin-top:5px; margin-bottom:0; padding:0}
.ftr2b{ font:Arial, Helvetica, sans-serif; color:#13588f; float:right;  margin-top:3px; margin-bottom:0; padding:0}


/*---------------------------REGISTER-------------------------------------------*/
.regmsg{ height:30px; color:#F33; margin-top:40px; float:left; margin-left:100px; font-size:18px;}
.register{clear:both; width:650px; height:360px; margin-top:10px;}
.tophead{ height:50px; width:auto; font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold; color:#0d5289;}
.maindiv{ height:50px; margin-top:20px; clear:both;}
.subdiv1{ float:left; height:auto; width:225px; padding-top:10px; font-size:18px;}
.subdiv2{ float:left; height:auto; width:425px;}
.wh{ width:300px; height:30px;}
.button2{ background:#0d5289; border-radius:5px;
  background: linear-gradient(#335fbe,#0d5289); height:30px; width:70px;
  border: 0;
  color: #fff;
  cursor: pointer; font-family: Arial, Helvetica, sans-serif; margin-top:0px;
   font-size:14px;
  padding: 0;}
.mch{width: auto; float:left; color:#603; margin-top:10px; font-weight:bold; margin-left:5px;}

/*-------------academic credentials------------------------*/
.lw1{ width:110px; border-radius:3px;}
.lw2{ width:50px; border-radius:3px;}
.autowidth{ width:auto;}
.autoheight{ height:auto;}
.flt{ float:left;}
.clr{ clear:both;}
.pic10{height:30px; width:25px;border:3px; border-color:#CCC;}
.div10{float:left; height:30px; width:25px;}
.divw{ width:200px; margin-left:7px;}
.divw2{ width:183px;}
.pic2{height:25px; width:22px;border:1px; border-color:#CCC;}
.div2{float:left; height:25px; width:22px;}
/*-----profile (dob)-----------*/
.dmargin{ margin-left:20px;}
.lim{ width:150px;}
.bg{ background-color:#d7e0ea; margin:0;}
.bg2{ margin:0;}
/*------CURRENT ACADEMICS-----*/
.smallwidth{ width:40px; border-radius:3px;}
.selectsw{width:60px; height:25px;border-radius:1px;}
.btnpos{margin-top:15px; margin-bottom:10px; height:40px; width:900px;}
.note{ font-size:14px;}
.n{ font-weight:normal; color:#000; height:60px; margin-top:10px;}
.note strong{color:#335fbe;}
.emarg{ margin-left:0px;}
.bigbtn{height:35px; width:85px}
/*-----------co-curicular------------*/
.cwid{ width:125px;}
.selectsw1{width:100px; height:25px;border-radius:1px;}
.divwc{ width:180px; margin-left:15px;}

.buttonco{ border-radius:7px; border-color:#0d5289; border-style:solid;
  height:25px; width:60px;
  border: 4;
  color:#0d5289;
  cursor: pointer; font-family: Arial, Helvetica, sans-serif; margin-top:0px;
   font-size:12px; font-weight:700;
  padding: 0;}
.buttonco:hover{ background:#0d5289; 
  background: linear-gradient(#335fbe,#0d5289);
  border: 0;
  color: #fff;
  cursor: pointer; font-family: Arial, Helvetica, sans-serif; margin-top:0px;
   
  padding: 0;}


 .marco{ margin-left:10px;}
 .cowid{ width:100px;}
/*---------gen----------------*/
.gtophead{height:25px; width:auto; font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold;}
.gmaindiv{height:28px; clear:both}
.gtitle{width:150px; float:left;font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; text-align:left; margin-left:75px}
.gdata{width:325px;font-family:Arial, Helvetica, sans-serif; float:left; font-size:14; text-align:left;}
.gftr{width:500px; font-size:16px; font-weight:bolder;}
